.btn-group button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
    width:25%;
	display:inline-block;
}

#btns{
	width:auto;
	margin:auto;
	display:inline-block;
}

@font-face{
 font-family:'digital-clock-font';
 src: url('digital-7.ttf');
}
.thinborder{
	background-color:#fff;
	font-size:50px;
	font-family:digital-clock-font;
}
#calc {
	min-width:300px;
	width:30%;
	margin:auto;
    border-style:solid;
    border-radius:10px;
    background-color:#777;
    text-align:center;
   
}

#wrap{
	width:100%;
}

.calcbody{
    //width:50%;
    text-align:center;
	margin:auto;
	display:inline-block;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}
